<h2>Angaben gemäß § 5 TMG:</h2>

<address>
  <strong>Christian Schmidt</strong><br />
  Feuerbachstr. 40<br />
  40223 Düsseldorf<br />
  Telefon: +49 (0) 211 5800 580 52<br />
  E-Mail: chris@superbilk.org<br />
</address>

<h3>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h3>

<address>
  <strong>Christian Schmidt</strong><br />
  Feuerbachstr. 40<br />
  40223 Düsseldorf<br />
</address>

<p>Quelle: erstellt mit dem <a href="http://www.e-recht24.de/impressum-generator.html">Impressum-Generator</a> von eRecht24.</p>
