<h2>Willkommen</h2>
<p>Bitte loggen Sie sich mit Ihrem XING-Account ein:
  <%= link_to image_tag("login_grey_18_DE.png"), "/auth/xing" %>
</p>

<% unless User.all_companies.empty? %>
<div class="row">
  <div class="large-8 columns">
    <p>Mitarbeiter folgender Unternehmen nutzen <em>Happy Company</em> bereits:
      <%= User.all_companies.to_sentence(:two_words_connector => " und ", :last_word_connector => " und ") %>
    </p>
  </div>
</div>
<% end %>
