<div class="panel">
  <h4>Wir verbinden Sie mit Ihren Kollegen</h4>
  <p>Wir verwenden die <strong>aktive Benachrichtigungs-Adresse</strong> aus Ihrem XING-Account, um Sie mit Ihrem Arbeitgeber und Ihren Kollegen zu verbinden.</p>
  <p>Bitte verwenden Sie deshalb bei XING <strong>keine</strong> E-Mailadresse von E-Mailanbietern wie <em>gmail.com</em>, <em>t-online.de</em> oder <em>web.de</em> als aktive Benachrichtigungs-Adresse.</p>
  <p>Die <strong>aktive Benachrichtigungs-Adresse</strong> können Sie ganz einfach <strong><a href="https://www.xing.com/app/settings?op=notifications">bei XING ändern</a></strong>.</p>
</div>
