<div class="large-4 columns">
  <h2>Übersicht</h2>
  <p>E-Mail Domain: <%= current_user.company %></p>
  <p>Anzahl Kollegen: <%= current_user.colleagues_count %></p>
  <p>Anzahl Benutzer: <%= User.count %></p>
</div>
