<div class="large-4 columns">
  <h3 class="subheader">Übersicht</h3>
    <table>
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>Firma</td>
          <td class="right"><%= current_user.company %></td>
        </tr>
        <tr>
          <td>Kollegen</td>
          <td class="right"><%= current_user.colleagues_count %></td>
        </tr>
        <tr>
          <td>Benutzer</td>
          <td class="right"><%= User.count %></td>
        </tr>
      </tbody>
    </table>  </div>
